# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules*/

# testing
/coverage

# production directories.
# tailing with *, so you can rename `build` directory when you wanna compare
# the output of two buildings.
/build*/

# misc
.DS_Store
.env*.local
.vscode/
.idea

# log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local doc
*local.md
*LOCAL.md
